h1 {
  size: 22px;
  text-align: center;
  color: rgb(127, 150, 255);
}

.out1 {
  color: yellow;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #569;
}

.out2 {
  color: rgb(72, 255, 0);
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #969;
}