h1 {
  size: 22px;
  text-align: center;
  color: rgb(16, 45, 175);
}

h2 {
  size: 22px;
  text-align: center;
  color: rgb(194, 1, 65);
}

.out1 {
  color: yellow;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #569;
  margin: 0 auto;

}

.out2 {
  color: rgb(72, 255, 0);
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #969;
  margin: 0 auto;

}